<section class="st-one">
  <h1>The most efficient way to sell online</h1>
  <p>Grow your business today. Namarunu store gets you a professional eCommerce platform with
  24/7 expert support that is easy to set up, maintain, manage and grow.
<br> Without writing a single line of code.</p>
<button type="button" name="button" class="btn btn st-g-button">Get Started</button>
</section>
<section class="st-two">
  <div class="content-two ">
    <div class="row">
      <div class="col-md-6 order-md-last col-sm-6 order-md-last col-xs-12">
        <img class="img-fluid" src="https://via.placeholder.com/750x450" alt="Card image cap">
      </div>

      <div class="col-md-6 order-md-first col-sm-6 order-sm-first col-xs-12 align-self-center zm">
        <h4>Set up and launch in less than 3 business days! </h4>
        <br>
        <p>Create and launch a beautiful, fully functional e-commerce website with all necessary features in less than 3 business days! Our eCommerce software is
        robust, well-tested and includes bug fixes, feature updates and professional technical support 24/7 all within the advertised package price!</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 order-md-first col-sm-6 order-sm-first col-xs-12 p2">
        <img class="img-fluid" src="https://via.placeholder.com/750x450" alt="Card image cap">
      </div>

      <div class="col-md-6 order-md-last col-sm-6 order-sm-last col-xs-12 p2 align-self-center"><br>
        <h4>Adaptable to your idea! </h4>
        <br>
        <p>Get a fully dynamic eCommerce website adaptable to any idea. Whether you are selling furniture or jewlery or even pets, We got you. Let your users see all
        the details about your product, order and even pay online. The system will even update your stock number to avoid selling out of stock items!</p>
      </div>
    </div>
  </div>
</section>
