<div class="container-xl py-4">
  <% if @lead %>
    <div class="alert alert-info d-flex justify-content-between align-items-center mb-4">
      <span>Pre-filled from lead: <strong><%= @lead.business_name %></strong></span>
      <%= link_to "Back to Lead", lead_path(@lead), class: "btn btn-sm btn-outline-secondary" %>
    </div>
  <% end %>
  <%= render "form", invoice: @invoice, next_invoice_number: @next_invoice_number, plans: @plans %>
</div>
