<span class="float float0 help-b" data-bs-toggle="tooltip" data-bs-placement="top" title="Need Help?">
  <a href="https://api.whatsapp.com/send?phone=+254726160664&text=Hi,%20I%20would%20like%20help%20in%20setting%20up%20a%20store" target="_blank" rel="noreferrer" data-bs-toggle="tooltip" data-bs-placement="top" title="WhatsApp Us">
    <%= image_tag "whatsapp.png", class: "img-fluid", alt: "Send Us a Whatsapp message" %>
  </a>
</span>
