<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
<div class="container">
  <%= link_to "NAMARUNU", root_url, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
      <li class="nav-item mx-5">
        <%= link_to 'Products', store_sell_path, class:"nav-link" %>
      </li>
      <li class="nav-item mx-5">
        <%= link_to 'Pricing', pricing_path, class: "nav-link" %>
      </li>
      <li class="nav-item mx-5">
        <a href="mailto:namarunu@gmail.com?subject=Inquiry about your products" class="nav-link" target="_blank">Support</a>
      </li>
      <!-- <li class="nav-item mx-5">
        <a class="nav-link" href="#">Learn</a>
      </li> -->
    </ul>
    <span class="my-2 my-lg-0 ">
      <button class="btn btn my-2 my-sm-0 g-button" type="submit">Get started</button>
    </span>
  </div>
</div>
</nav>
