<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
<div class="container">
  <a class="navbar-brand" href="#">NAMARUNU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
      <li class="nav-item mx-5">
        <a class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item mx-5">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item mx-5">
        <a class="nav-link" href="#">Support</a>
      </li>
      <!-- <li class="nav-item mx-5">
        <a class="nav-link" href="#">Learn</a>
      </li> -->
    </ul>
    <span class="my-2 my-lg-0 ">
      <button class="btn btn my-2 my-sm-0 g-button" type="submit">Get started</button>
    </span>
  </div>
</div>
</nav>
